@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Source+Sans+Pro&display=swap");
:root {
  --classblue:#0F4C81 !important;
  --provence:#658DC6 !important;
  --babyblue:#B5C7D3 !important;
  --monument: #84898C !important;
  --stucco: #A58D7F !important;
  --peach: #F5B895 !important;
  --comhusk: #F3D5AD !important;
  --dark1: #000000 !important;
  --dark2: #3a3a3a !important;
  --dark3:#6c6c6c !important;
  --dark4:#c7c7c7 !important;
  --dark5:#eeeeee !important;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}

#nav .navtext {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a9a9a9;
  padding-top: 0.5rem;
}

#nav .navtext span:nth-child(1) {
  color: #b5c7d3;
}

#nav .navtext span:nth-child(2) {
  color: #a9a9a9;
}

#nav .navtext a {
  color: #a9a9a9;
}

@media (min-width: 768px) {
  #nav .navtext {
    padding-top: 0;
  }
}

@media (min-width: 576px) {
  #nav li {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #nav li {
    font-size: 14px;
  }
}

#home {
  height: 100%;
  background: url(/img/heart.jpg/) no-repeat fixed center/cover;
}

#home .box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  #home .box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: translate(7%, -3%);
            transform: translate(7%, -3%);
  }
}

#home .box img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 80%;
}

#home .box p {
  margin: 1rem 0;
  font-size: 20px;
  color: white;
}

#home .box2 {
  padding: 8rem 0 6rem 0;
}

#home .box2 span:nth-child(1) {
  font-size: 18px;
  color: #e9a040;
}

#home .box2 span:nth-child(2) {
  font-size: 38px;
  color: #4b7fc9;
  padding-bottom: 1rem;
}

#home .box2 span:nth-child(3) {
  font-size: 14px;
  color: #a9a9a9;
}

#home .btn:nth-child(odd) {
  border: 1px solid #b5c7d3;
  color: var(--classblue);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .btn:nth-child(odd):hover {
  background-color: var(--comhusk);
  border: 1px solid var(--comhusk);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .btn:nth-child(even) {
  background-color: #b5c7d3;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .btn:nth-child(even):hover {
  background-color: var(--dark5);
  border: 1px solid var(--dark5);
  color: var(--comhusk);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .box3 {
  color: #4b7fc9;
  padding: 6rem;
  padding-bottom: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .box3 div {
  position: absolute;
}

#home .box3 div:nth-child(1) {
  font-size: 100px;
  color: #809ec9;
  opacity: 0.2;
  font-family: fantasy;
  top: 1.75rem;
  vertical-align: baseline;
}

#home .box3 div:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}

#home .box3 p {
  text-justify: inter-word;
  padding-top: 5rem;
  color: #a9a9a9;
}

@media (min-width: 576px) {
  #home .box3 {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  #home .box3 {
    padding: 4rem;
  }
}

@media (min-width: 992px) {
  #home .box3 {
    padding: 6rem;
  }
}

#home .btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .btn2:nth-child(odd) {
  width: 30%;
  padding: 12px;
  margin-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b5c7d3;
  color: var(--classblue);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .btn2:nth-child(odd):hover {
  background-color: var(--comhusk);
  border: 1px solid var(--comhusk);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (min-width: 576px) {
  #home .btn2:nth-child(odd) {
    width: 25%;
    padding: 10px;
    margin-right: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  #home .btn2:nth-child(odd) {
    width: 15%;
    padding: 10px;
  }
}

#home .btn2:nth-child(even) {
  width: 30%;
  padding: 12px;
  background-color: #b5c7d3;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .btn2:nth-child(even):hover {
  background-color: var(--dark5);
  border: 1px solid var(--dark5);
  color: var(--comhusk);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (min-width: 576px) {
  #home .btn2:nth-child(even) {
    width: 25%;
    padding: 10px;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  #home .btn2:nth-child(even) {
    width: 15%;
    padding: 10px;
  }
}

#home .b2 {
  margin-bottom: 5rem;
}

#home .about {
  padding-bottom: 5rem;
}

#home .aboutrow {
  height: 100%;
  padding-top: 1rem;
}

#home .aboutimg {
  background: url(/img/homecounseling2.jpg) no-repeat fixed center/cover;
  height: 80vmin;
  max-height: 55vmax;
}

#home .abouttext {
  background: #809ec925;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

#home .abouttext span:nth-child(1) {
  color: #e9a040;
  font-size: 18px;
}

#home .abouttext span:nth-child(2) {
  color: #4b7fc9;
  font-size: 38px;
  padding-bottom: 1rem;
}

#home .abouttext p {
  color: #7f7f7f;
  margin: 0;
  padding-bottom: 1rem;
  font-size: 14px;
}

@media (min-width: 576px) {
  #home .abouttext div {
    width: 70%;
  }
}

#home .abouttext .btn3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  background-color: #b5c7d3;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid transparent;
}

#home .abouttext .btn3:hover {
  background-color: var(--dark5);
  border: 1px solid var(--dark5);
  color: var(--comhusk);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (min-width: 576px) {
  #home .abouttext .btn3 {
    width: 20%;
    padding: 10px;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  #home .abouttext .btn3 {
    width: 20%;
    padding: 10px;
  }
}

@media (min-width: 992px) {
  #home .abouttext .btn3 {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  #home .abouttext .btn3 {
    width: 20%;
  }
}

#home .carousel {
  padding: 3rem 0;
  margin-bottom: 2rem;
}

#home .carousel-indicators li {
  background-color: #4b7fc9;
}

#home .carousel-item {
  height: 57vh;
  text-shadow: none;
  background: white !important;
}

#home .carousel-item .carousel-caption {
  height: 95%;
  z-index: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .carousel-item p {
  margin-bottom: 0.5rem;
}

#home .carousel-item p:nth-of-type(1) {
  font-size: 1.35rem;
  color: #4b7fc9;
  margin: 0;
}

#home .carousel-item p:nth-of-type(2),
#home .carousel-item p:nth-of-type(3) {
  color: #7f7f7f;
}

#home .carousel-item p:nth-of-type(4) {
  color: #a9a9a9;
}

#home .carousel-item hr {
  width: 10rem;
  height: 0px;
  background: rgba(0, 52, 72, 0.164);
}

@media (min-width: 576px) {
  #home .carousel-item {
    height: 54vh;
  }
}

#home .btn4 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: white;
  border: 1px solid transparent;
  background-color: #b5c7d3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#home .btn4:hover {
  background-color: var(--dark5);
  border: 1px solid var(--dark5);
  color: var(--comhusk);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

@media (min-width: 768px) {
  #home .btn4 {
    width: 20%;
  }
}

@media (min-width: 992px) {
  #home .btn4 {
    width: 15%;
  }
}

#home .homenews {
  padding-bottom: 2rem;
}

#home .homenews p {
  color: #4b7fc9;
  font-size: 38px;
}

#home .homenews .thenew {
  position: relative;
}

#home .homenews .thenew::before {
  content: "";
  width: 100%;
  height: 25%;
  background: #f5ba6dd8;
  position: absolute;
  bottom: 10%;
  z-index: -1;
}

#home .homenews .thenew::after {
  content: "NEWS";
  position: absolute;
  bottom: 10%;
  right: -19%;
  font-size: 10px;
  color: #e9a040;
}

#home .homenewsimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#home .homenewstext {
  color: #003448;
}

#home .homenewstext p {
  font-family: "Mulish", sans-serif;
  margin: 0;
}

#home .homenewstext div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .homenewstext div:nth-child(1) p {
  font-size: 15px;
}

#home .homenewstext div:nth-child(2) p {
  font-size: 12px;
}

#home .homenewstext div:nth-child(3) p {
  font-size: 8px;
}

#home .homenewstext div:nth-child(4) p {
  font-size: 8px;
}

@media (min-width: 576px) {
  #home .homenewstext div:nth-child(1) p {
    font-size: 25px;
  }
  #home .homenewstext div:nth-child(2) p {
    font-size: 16px;
  }
  #home .homenewstext div:nth-child(3) p {
    font-size: 12px;
  }
  #home .homenewstext div:nth-child(4) p {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  #home .homenewstext div:nth-child(1) p {
    font-size: 28px;
  }
  #home .homenewstext div:nth-child(2) p {
    font-size: 16px;
  }
  #home .homenewstext div:nth-child(3) p {
    font-size: 12px;
  }
  #home .homenewstext div:nth-child(4) p {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  #home .homenewstext svg {
    font-size: 1rem;
  }
}

#home .homearticle {
  width: 85%;
}

@media (min-width: 576px) {
  #home .homearticle {
    width: 105%;
  }
}

@media (min-width: 992px) {
  #home .homearticle {
    width: 85%;
  }
}

#home .card-footer {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .homearticlefooter span:nth-of-type(1) {
  padding-left: 0.2rem;
}

#home .homearticlefooter span:nth-of-type(2) {
  padding-left: 0.5rem;
}

#home .bi-wifi, #home .bi-cup {
  color: #809ec9;
  border: 1px solid #809ec9;
}

#home .fa-facebook, #home .fa-line, #home .fa-instagram {
  color: #b9b7b7;
  font-size: 2rem;
}

@media (min-width: 576px) {
  #home .homemap {
    height: 63%;
  }
}

@media (min-width: 768px) {
  #home .homemap {
    height: 55%;
  }
}

@media (min-width: 992px) {
  #home .homemap {
    height: 59%;
  }
}

@media (min-width: 1200px) {
  #home .homemap {
    height: 52%;
  }
}

#home .homefooter {
  font-size: 14px;
  padding-top: 2rem;
}

@media (min-width: 576px) {
  #home .homefooter {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  #home .homefooter {
    max-width: 60%;
  }
}

@media (min-width: 576px) {
  #home .homefooterrow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#home .homefootercol1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .homefootercol1 div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 576px) {
  #home .homefootercol1 .homefootericon {
    padding-top: 5rem;
  }
}

@media (min-width: 768px) {
  #home .homefootercol1 .homefootericon {
    padding-top: 7rem;
  }
}

@media (min-width: 992px) {
  #home .homefootercol1 .homefootericon {
    padding-top: 6rem;
  }
}

@media (min-width: 1200px) {
  #home .homefootercol1 .homefootericon {
    padding-top: 6rem;
  }
}

#home .homefootercol2 .homefooterimg {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 30%;
}

#home .homefootercol2 .homefootertext span:nth-of-type(odd) {
  color: #4b7fc9;
}

#home .homefootercol2 .homefootertext span:nth-of-type(even) {
  color: #a9a9a9;
}

#home .homefootercol2 .homefootersubscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .homefootercol2 .homefootersubscription .form-control {
  width: 70%;
}

#home .homefootercol2 .lab {
  display: block;
  text-align: center;
  padding-top: 1rem;
}

@media (min-width: 576px) {
  #home .homefootercol2 .lab {
    display: none;
  }
}

#home .span1 {
  display: none;
}

@media (min-width: 576px) {
  #home .span1 {
    display: block;
  }
}
