:root {
  --classblue:#0F4C81 !important;
  --provence:#658DC6 !important;
  --babyblue:#B5C7D3 !important;
  --monument: #84898C !important;
  --stucco: #A58D7F !important;
  --peach: #F5B895 !important;
  --comhusk: #F3D5AD !important;
  --dark1: #000000 !important;
  --dark2: #3a3a3a !important;
  --dark3:#6c6c6c !important;
  --dark4:#c7c7c7 !important;
  --dark5:#eeeeee !important;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#nav {
  width: 100%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#nav a {
  text-decoration: none;
  color: #a9a9a9;
}

#nav p:nth-of-type(1) {
  color: #b5c7d3;
}

#nav p:nth-of-type(2) {
  color: #a9a9a9;
}

#nav img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  -o-object-position: center;
     object-position: center;
}

#nav p {
  padding: 0;
  margin: 0;
}

#nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home {
  height: 100%;
  background: url(/img/heart.jpg/) no-repeat fixed center/cover;
}

#home .box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  #home .box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: translate(7%, -3%);
            transform: translate(7%, -3%);
  }
}

#home .box img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 80%;
}

#home .box p {
  margin: 1rem 0;
  font-size: 20px;
  color: white;
}

#home .box2 span:nth-child(1) {
  font-size: 18px;
  color: #e9a040;
}

#home .box2 span:nth-child(2) {
  font-size: 38px;
  color: #4b7fc9;
}

#home .box2 span:nth-child(3) {
  font-size: 14px;
  color: #a9a9a9;
}

#home .btn:nth-child(1) {
  border: 1px solid #B5C7D3;
  color: var(--classblue);
}

#home .btn:nth-child(1):hover {
  background-color: var(--comhusk);
  border: 1px solid var(--comhusk);
}

#home .btn:nth-child(2) {
  background-color: #B5C7D3;
  color: white;
}

#home .btn:nth-child(2):hover {
  background-color: var(--dark5);
  border: 1px solid var(--dark5);
  color: var(--comhusk);
}
